@import '../../styles/colors.scss';

.inputWrap {
  margin-top: 16px;
  display: flex;
  align-items: center;
  position: relative;

  input {
    border: 1px solid $primaryLight;
    border-radius: 4px;
    line-height: 40px;
    padding: 0 35px 0 8px;
    flex-grow: 1;

    &:focus {
      outline-color: $primaryLight;
    }
  }

  .status {
    position: absolute;
    right: 5px;
    cursor: help;
  }
}
