.inputWrapper {
  margin-top: 16px;

  .inputWrap {
    display: flex;
    align-items: center;
    position: relative;

    input {
      border: 1px solid var(--primary);
      border-radius: 4px;
      line-height: 40px;
      padding: 0 8px 0 35px;
      flex-grow: 1;

      &:focus {
        outline-color: var(--primary);
      }
    }

    .inputIcon {
      position: absolute;
      left: 8px;
    }
  }
  .inputError {
    color: var(--warn);
    font-size: 12px;
    margin-top: 1px;
    margin-left: 5px;
  }
}
