:root {
  --white: #fff;
  --black: #003049;
  --warn: #d62828;
  --success: #04d361;
  --background: #e5e5e5;
  --primary: #fcbf49;
  --primaryDark: #f77f00;
  --primaryLight: #eae2b7;
}

* {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  background: var(--background);
}
