.surveyResult {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;

  .content {
    display: flex;
    flex-direction: column;
    align-self: center;
    max-width: 800px;
    width: 100%;
    flex-grow: 1;
    padding: 40px;

    h2 {
      color: var(--primaryDark);
      font-size: 20px;
      font-weight: bold;
    }

    .answersList {
      list-style: none;
      display: flex;
      flex-direction: column;
      margin-bottom: 24px;

      li {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        background-color: var(--white);
        padding: 16px;
        border-radius: 8px;
        color: var(--primaryDark);
        margin-top: 16px;

        &.active {
          border: 2px solid var(--primaryDark);
        }

        img {
          width: 50px;
          height: 50px;
        }

        .answer {
          flex-grow: 1;
          margin: 0 16px;
          font-size: 20px;
        }

        .percent {
          font-size: 30px;
        }
      }
    }
  }
}

@media only screen and (max-width: 400px) {
  .surveyResult {
    .content {
      ul {
        li {
          justify-content: center;
        }
      }
    }
  }
}
